* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --pink-500: #B52184;
  --purple-800: #312D64;
  --purple-gradient: linear-gradient(96deg, 343193 0%, #302C63 99.68%);
  --gray-100: #F9F4FB;
  --white: #FFFFFF;
}

html, body, input, textarea, button {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "hero hero hero"
    "text text text"
    "card card card"
    "form form form"
    "footer footer footer";
}

main {
  text-align: center;
}

.hero {
  grid-area: hero;
  max-width: 37rem;
  width: 100%;
  margin: auto;
}

.hero-text {
  grid-area: text;
}

main h1 {
  margin-top: 1.6rem;
  font-size: 3.2rem;
  color: var(--pink-500);
  font-weight: 900;
}

main p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--purple-800);
}

.arrow {
  width: 6rem;
  height: 10.5rem;
  margin: 3.2rem auto auto;
}

.card-wrapper {
  grid-area: card;
  margin-top: 10rem;
  background-color: var(--purple-800);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 3.2rem;
}

.card {
  background-color: var(--white);
  padding: 2.8rem;
  border-radius: 20px;
}

.card img {
  width: 8rem;
  height: 8rem;
}

.card h2 {
  margin-top: 3.4rem;
  color: var(--pink-500);
  font-size: 3rem;
  font-weight: 900;
  max-width: 270rem;
}

.card p {
  margin-top: 2rem;
  color: var(--purple-800);
  font-weight: 600;
  max-width: 270rem;
}

.form-wrapper {
  grid-area: form;
  display: grid;
  grid-area: 1fr;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  margin-top: 7.6rem;
  padding: 0 3.2rem 6.5rem;
}

fieldset legend { 
  color: var(--pink-500);
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 4.2rem;
}

.input-wrapper {
  border: 1.5px solid var(--purple-800);
  border-radius: 16px;
  display: flex;
  gap: 1.2rem;
  padding: 1.2rem 1.4rem;
}

.input-wrapper + .input-wrapper {
  margin-top: 3.6rem;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input, .input-wrapper textarea {
  width: 100%;
  color: var(--purple-800);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  height: 100%;
  outline: none;
}

.input-wrapper textarea {
  min-height: 200px;
}

.input-wrapper input::placeholder, .input-wrapper textarea::placeholder {
  color: var(--purple-800);
}

button {
  padding: 1.6rem;
  background: linear-gradient(96deg, #343193 0%, #302C63 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 2.4rem;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.stars {
  display: none;
}

footer {
  background: linear-gradient(96deg, #343193 0%, #302C63 100%);
  padding: 1.6rem;
  grid-area: footer;
}
  
footer p {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

@media (min-width: 700px) {
  .page {
    grid-template-areas: 
      "text hero hero"
      "card card card"
      "form form form"
      "footer footer footer";
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2.8rem;
    padding: 0 12rem;
    position: relative;
  }

  .hero {
    max-width: 72rem;
    width: 100%;
    flex: 1;
  }

  .hero-text h1 {
    font-size: 6rem;
  }

  .hero-text p {
    font-size: 3.2rem;
    text-align: start;
  }

  .arrow {
    position: absolute;
    bottom: 0;
    left: 11rem;
  }
  
  .card-wrapper {
    flex-direction: row;
    gap: 18rem;
    padding: 6.4rem 12rem;
  }

  .card {
    background-color: var(--white);
    padding: 2.8rem;
    border-radius: 20px;
  }
  
  .card img {
    width: 10rem;
    height: 10rem;
  }
  
  .card h2 {
    margin-top: 4rem;
    color: var(--pink-500);
    font-size: 3.6rem;
    font-weight: 900;
    max-width: 32rem;
  }
  
  .card p {
    margin-top: 2.4rem;
    font-size: 2rem;
    color: var(--purple-800);
    font-weight: 600;
    max-width: 32rem;
  }

  .form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.2rem;
  }
  form {
    padding: 0 8rem;
  }
  .stars {
    display: block;
    width: 100%;
    height: 100%;
  }
}